body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px;
  font-family: sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #fff;
  font-size: 20px;
  font-weight: 888;
  background: linear-gradient(180deg, #04fafd, 5%, #119dff, 50%, #030423);
  background-attachment: fixed;
}

#menuBox {
  display: none;
}

#bubbleServiceFuture {
  white-space: pre-line;
  font-weight: 10;
}

#menuButtons {
  display: flex;
  position: relative;
  width: 1000px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  align-items: center;
  justify-content: space-between;
}

#bubbleServiceBox {
  text-shadow: 0px 50px 10px rgba(14, 14, 14, 0.9); /* Horizontal offset, vertical offset, larger blur radius, and color */
  display: flex;
  margin-top: 200px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

#bubbleStyleBox {
  position: relative;
  right: 0;
  z-index: 13;
}

.s {
  position: absolute;
}

.asciiBox {
  display: none;
}

.dragon {
  color: #ffffff;
  font-size: 10px;
  display: none;
}

#bubbleContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#bubblePageBox {
  display: flex;
  position: relative;
}

#bubbleMenu {
  display: flex;
}

/* Container styling */
#bubbleMenuBox {
  display: flex;
  justify-content: space-around; /* Evenly distribute items */
  padding: 10px;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.portfolioBoxProj {
  display: none;
}

#resumeContent {
  display: none;
}

#resumeLink {
  display: none;
}

.fastType {
  display: none;
}

.terminal-text {
  display: none;
}

#bubblePortfolioBox {
  position: relative;
}

/* Link styling */
#menuButtons a {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  text-shadow: -5px 20px 9px rgba(14, 14, 14, 0.9); /* Horizontal offset, vertical offset, larger blur radius, and color */

  border-radius: 5px;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);

  text-align: center;
  padding: 3px 5px;
  color: rgb(255, 255, 255); /* White text color */
  text-decoration: none; /* Remove underline */
  /* border: none; Remove border */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: all 0.4s ease; /* Smooth transition for size change */
  margin-right: 30px;
  margin-left: 30px;
}

/* Change background color on hover */
#menuButtons a:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(1.1); /* Grow the button slightly */
}

* {
  margin: 0;
  padding: 0;
}
.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  align-self: flex-start;
}

.bubbleProjects {
  display: flex;
  flex-direction: column;
}

#bubbleProject1 {
  text-shadow: 0px 50px 10px rgba(14, 14, 14, 0.9); /* Horizontal offset, vertical offset, larger blur radius, and color */
  display: flex;
  margin-top: 200px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

#bubblesServiceBox {
  display: flex;
  flex-direction: column;
}

#bubbleProjectDesc1 {
  white-space: pre-line;
  font-weight: 10;
}

#bubbleServiceDesc {
  white-space: pre-line;
  font-weight: 10;
}

#bubbleProject2 {
  text-shadow: 0px 100px 15px rgba(14, 14, 14, 0.9); /* Horizontal offset, vertical offset, larger blur radius, and color */

  display: flex;
  margin-top: 200px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
#bubbleProjectDesc2 {
  white-space: pre-line;
  font-weight: 10;
}

#bubbleProject3 {
  text-shadow: 0px 150px 30px rgba(14, 14, 14, 0.9); /* Horizontal offset, vertical offset, larger blur radius, and color */

  display: flex;
  margin-top: 200px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
#bubbleProjectDesc3 {
  white-space: pre-line;
  font-weight: 10;
}

#bubbleProject4 {
  text-shadow: 0px 150px 30px rgba(14, 14, 14, 0.9); /* Horizontal offset, vertical offset, larger blur radius, and color */

  display: flex;
  margin-top: 200px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

#bubbleProjectDesc4 {
  white-space: pre-line;
  font-weight: 10;
}

.bubbleGithub {
  transition: all 0.4s ease; /* Smooth transition for size change */
  align-self: center;
}

.bubbleGithub:hover {
  transform: scale(1.1);
}

#bubbleResumeDesc {
  text-shadow: 0px 150px 30px rgba(14, 14, 14, 0.9); /* Horizontal offset, vertical offset, larger blur radius, and color */
  white-space: pre-line;
  font-weight: 10;
  display: flex;
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

#resumeImage {
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#bubbleResumeBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper h1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #fff;
  font-size: 40px;
  font-weight: 888;
  text-transform: uppercase;
}
.wrapper div {
  height: 60px;
  width: 60px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  position: absolute;
  top: 10%;
  left: 10%;
  animation: 4s linear infinite;
}
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20%;
  right: 20%;
}
.wrapper div:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(2) {
  top: 60%;
  left: 80%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(3) {
  top: 40%;
  left: 40%;
  animation: animate 3s linear infinite;
}
.wrapper div:nth-child(4) {
  top: 66%;
  left: 30%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(5) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}
.wrapper div:nth-child(7) {
  top: 70%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(9) {
  top: 50%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(10) {
  top: 45%;
  left: 20%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(11) {
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(13) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(14) {
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(15) {
  top: 90%;
  left: 80%;
  animation: animate 9s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}
.resumeText {
  display: none;
}

#bubble .bubbleProjectDesc {
  white-space: pre;
  font-size: 10px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #fff;
  display: flex;
  position: relative;
}
